<!--The content below is only a placeholder and can be replaced.-->
<nav data-qa="navbar-comp" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">{{ title }}</div>
  </div>
</nav>
<hr class="navbar-divider" />
<app-view-cars></app-view-cars>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Car Dealership App</strong> by
      <a href="https://github.com/jessethach">Jesse Thach</a>.
    </p>
  </div>
</footer>