<main class="columns">
  <section class="column is-half">
    <section class="section">
      <div class="tile is-ancestor">
        <section class="tile">
          <article class="tile is-child box">
            <form [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm)">
              <p class="subtitle">Find your car today!</p>
              <ng-container *ngFor="let opt of filterForm.controls.filters.controls; let i=index">
                <div class="field">
                  <input [formControl]="opt" id="{{filters[i].name}}" type="checkbox" name="{{filters[i].name}}" class="switch is-rounded is-small">
                  <label for="{{filters[i].name}}">{{ filters[i].display }}</label>
                </div>
              </ng-container>
              <div class="is-pulled-right">
                <button role="submit" class="button is-primary">Search</button>
              </div>

            </form>
          </article>
        </section>
      </div>
    </section>
  </section>

  <section class="column is-half">
    <section class="container">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th class="is-size-6">
                Make
              </th>
              <th class="is-size-6">
                Year
              </th>
              <th class="is-size-6">
                Color
              </th>
              <th class="is-size-6">
                Price
              </th>
              <th class="is-size-6">
                Features
              </th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Make</th>
              <th>Year</th>
              <th>Color</th>
              <th>Price</th>
              <th>Features</th>
            </tr>
          </tfoot>
          <tbody>
            <tr class="table-row" *ngFor="let car of cars">
              <td>{{ car.make }} </td>
              <td>{{ car.year }}</td>
              <td>{{ car.color }}</td>
              <td>{{ car.price | currency }}</td>
              <td>
                <ul>
                  <li *ngIf="car.hasHeatedSeats">
                    Heated seats
                  </li>
                  <li *ngIf="car.hasLowMiles">
                    Low miles
                  </li>
                  <li *ngIf="car.hasNavigation">
                    Navigation
                  </li>
                  <li *ngIf="car.hasPowerWindows">
                    Power windows
                  </li>
                  <li *ngIf="car.hasSunroof">
                    Sun roof
                  </li>
                  <li *ngIf="car.isFourWheelDrive">
                    4 wheel drive
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </section>
</main>